
.logo {
  margin: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logo_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.logo_link:hover {
  filter: brightness(80%);
}

.logo_link svg {
  width: 6.4rem;
  height: 6.4rem;
}
